@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    * {
        box-sizing:border-box;
        margin: 0;
        padding: 0;
        
    }
h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 40px;
    display: center;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    li, a, button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #edf0f1;
        text-decoration: none;
    } 
    /* navigation */
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%;
        background-color: #24252A;
    }
    .menu{
        list-style: none;
        display: inline-block;
    }
    .menu ul {
        display: inline-block;
        padding: 0px 25px;
    }
    .menu ul a {
       transition: all 0.3s ease 0s;
    }
    .menu ul a:hover {
        color: lightblue;
    }
    #logo{
        cursor: pointer;
    }
    body{
        background-color: lightcoral;
    }
    .text1{
        color: white;
    }
    button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    }
button:hover{
    background-color: rgba(0,136,169,0.8)
}
/* Slideshow css starter her */
.slider{
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-bottom: 1px solid black;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 100%;
    height: 500px;
}
.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #40D3DC;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
/*css for automatic slideshow */
.navigation-auto{
    position: absolute; 
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
}

/* Slideshow css slutter her */

.info-text1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#box1{
    position: relative;
    width: 600px;
    height 1000px;
    margin: 5%;
    padding: 50px;
    background-color: rgb(63, 63, 63, 0.95);
    color: white;
    border-radius: 20px;
} 

#box2{
    position: absolute;
    right: 0;
    width: 600px;
    height 1000px;
    margin: 5%;
    padding: 50px;
    background-color: rgb(63, 63, 63, 0.95);
    color: white;
    border-radius: 20px;
}
#index-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-size: 23px;
}
#box-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
